<!DOCTYPE html>
<html>
<head>
  <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
  <title>Jasmine Specs</title>

  <%= stylesheet_link_tag *jasmine_css_files %>
  <%= javascript_include_tag *jasmine_js_files %>

  <% if JasmineRails.enable_blanketjs_coverage %>
    <script type='text/javascript' src='<%= asset_url("blanket.min.js") %>' <%= raw JasmineRails.get_blanketjs_options %>></script>
    <script type='text/javascript' src='<%= asset_url("blanket-jasmine.js") %>'></script>
  <% end %>
</head>
<body>
<div id="jasmine_content"></div>
<%= yield %>
</body>
</html>
